<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985728665219-nembahehja50tm6rd63vce55qm1o3l40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985728665219-nembahehja50tm6rd63vce55qm1o3l40</string>
	<key>API_KEY</key>
	<string>AIzaSyD2A7mt2JZS8-70XVvghCQyf0dU6K5LomQ</string>
	<key>GCM_SENDER_ID</key>
	<string>985728665219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capgemini.sprint2</string>
	<key>PROJECT_ID</key>
	<string>sprint2-9b8d2</string>
	<key>STORAGE_BUCKET</key>
	<string>sprint2-9b8d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985728665219:ios:eee35d721ffd072366bdb6</string>
</dict>
</plist>